<div>
    <mat-toolbar color="primary">
        <span>{{ title }}</span>
        <span class="spacer "></span>
        <button mat-button class="button-header">About us</button>
        <button mat-button class="button-header">Download</button>
        <button mat-button class="button-header">Technical support</button>
        <span class="spacer"></span>
        <button mat-button class="button-header">Log In</button>
        <button mat-button class="button-header">Sign Up</button>
    </mat-toolbar>
</div>