<div class="medium-body">
    <h1>
        <!--Do you like videogames?-->
        TESTING
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel est nec tellus sollicitudin lacinia. Nulla facilisi. Ut ac tortor id augue accumsan aliquam. Vestibulum efficitur tincidunt dapibus. Nulla dictum tellus sed dolor efficitur mattis. Suspendisse
        potenti. Maecenas feugiat nec urna lacinia scelerisque. Etiam malesuada nisl erat, luctus blandit eros mollis et. Cras vel iaculis eros, in luctus elit. Praesent in ullamcorper mauris, pretium convallis quam. Vivamus ullamcorper diam at bibendum
        sodales. Vivamus laoreet pharetra nisl.
    </p>
    <div class="button-container">
        <button mat-raised-button class="middle-page-button">Download for windows</button>
    </div>
    <div class="button-container">
        <button mat-raised-button class="middle-page-button">Discover it on webpage</button>
    </div>
</div>